*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url(https://cdn.wallpapersafari.com/98/20/zWxFaN.jpg);
    background-position: center;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:99;
}

.navigation a {
    position:relative;
    color:white;
    font-size: 1.1em;
    text-decoration: none;
    font-weight:500;
    margin-left:40px;
} 

.navigation a::after{
      content:'';
      position:absolute;
      left:0;
      bottom: -2px;
      height:2px;
      width:100%;
      background-color:black;
      color:white;
      border-radius: 5px;
      transform:scaleX(0);
      transition:transform.5s;
}

.navigation a:hover:after{
    transform: scaleX(1);
    transform-origin:left;
      
}

img{
    height:50px;
    width:100px;
}

.navigation .btnlogin-popup{
    width:120px;
    height:40px;
    background: transparent;
    color:white;
    border:2px solid #fff;
    border-radius:6px;
    margin-left:40px;
    cursor: pointer;
    font-weight:500;
    font-size:1.1em;
}

.navigation .btnlogin-popup:hover{
    background-color:black;
    color:white;
}


.places{
    position:fixed;
    display:flex;
    box-sizing:border-box;
    width:100%;
    height: 30px;
    padding:115px 200px;
   padding-left:250px;
    justify-content: space-between;
    align-items: flex-end;
    z-index:99;
    margin-bottom: 600px;
    float:right
    

}

.navigation1 a{
    position:relative;
    color:whitesmoke;
    font-size:  1.5em;
    text-decoration: none;
    font-weight:500;
    margin-left:40px;
} 

.navigation1 a::after{
    content:'';
    position:absolute;
    left:0;
    bottom: -6px;
    height:2px;
    width:100%;
    background-color: #fff;
    border-radius: 5px;
    transform:scaleX(0);
    transition:transform .5s;
}
.navigation1 a:hover:after{
    transform: scaleX(1);
    transform-origin:left;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background:rgb(104, 69, 69);
    color:white;
}
.footer button {
    padding: 0.25rem;
    border-radius: 2rem;
}
.footer ul{
    padding: 1rem;
    margin-left: 1rem;
}

.hero{
    padding:20px 20px 20px  20px ;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.hero1 > img{
    width: 250px;
    border-radius: 20px;
}

.hero2{
    width:50vw
}
.hero2{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 0 100px 0 ;
}
.hero2 > div{
    color: white;
}
.hero2 > h3{
    color: white;
}
.hero1 {
    width: 50vw;
    display: flex;
    justify-content: center;
}
.imageStyle{
    border-radius: 15px;

    width: 250px;
    height: 250px;
} 
.images{
    display: flex;
    column-gap: 70px;
}
.mediastyle img{
    margin: 1rem;
    width: 40px;
    height: 40px;
}

.container2{
    display:flex;
    justify-content: center;
}